# Executables
bin
obj
*.exe
*.out
*.app
build

# VSCode settings
# .vscode/settings.json

# Python
__pycache__
*.pyc
.ropeproject

# Intellij Idea
.idea/

# Visual Studio
.vs/

# TypeScript
node_modules
